# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Dependencies
node_modules/

# Environment
.env
.env.local

# Build
build/

# Metro
.metro-health-check*

# Cache
.cache/

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
